ion-label {
  font-weight: bold;
  color: #ffffff;
}

ion-input {
  font-size: 16px;
}

/* Styling für ion-item und ion-input */
ion-item {
  --background: transparent;
  --ion-background-color: transparent;
  --ion-border-color: transparent;
  margin-bottom: 15px;
}

ion-input {
  --background: #6b6b6b27;
  --color: #ffffff; /* Textfarbe anpassen, falls nötig */
}

.custom-button {
  --border-width: 0.1px;
  --border-color: #006470;
  --border-style: solid;
  --border-radius: 500px; /* Abgerundete Ecken */
  --background: transparent;
  --color: #d3d3d3; /* Hellgraue Schriftfarbe */
  --ion-color-base: transparent;
  width: 50%;
  display: block;
  margin: 0 auto;
}

.custom-button:hover {
  --background: #a3a3a334;
  --color: #ffffff; /* Weißer Text beim Hover */
}

ion-segment {
  --indicator-color: transparent; /* Entfernt die Standard-Indikatorlinie */
}

ion-segment-button {
  --color: #006470; /* Standardfarbe des Textes */
  --border-width: 0; /* Entfernt den Rahmen des inaktiven Buttons */
  --button-background: transparent; /* Hintergrund des Buttons transparent */
  --border-radius: 0; /* Abgerundete Ecken */
}

ion-segment-button.segment-button-checked {
  --border-color: #006470;
  --border-width: 0 0 2px 0; /* Untere Linie für den aktiven Button */
  --border-color: #006470; /* Farbe der unteren Linie */
  --border-radius: 0; /* Abgerundete Ecken */
}