<ion-menu contentId="main-content">
  <ion-header *ngIf="showHeader">
    <ion-toolbar class="gradient-header">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <!-- Linker Bereich: Willkommensnachricht und Benutzername -->
        <div style="text-align: left;">
          <h3 style="margin: 0;">Willkommen, {{ userName || 'Admin' }}</h3>
        </div>     
      </div>
  
      <!-- Rechter Bereich: Timestamp -->
      <div style="text-align: left; font-size: 14px; color: #d3d3d3;">
        {{ currentTimestamp }}
      </div>

      <!-- Icons für Inbox und Logout zentriert unter dem Text -->
      <div style="display: flex; justify-content: left; margin-top: 10px; gap: 20px;">
        <ion-button fill="clear" routerLink="/inbox">
          <ion-icon name="mail-outline" size="large" color="primary"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="onLogout()">
          <ion-icon name="log-out-outline" size="large" color="danger"></ion-icon>
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-header>
  

  <ion-content>
    <ion-list>


      <!-- Dynamische Menüpunkte je nach Rolle -->
      <ion-menu-toggle auto-hide="true">
      <ion-list>
        <ion-item *ngFor="let item of menuItems" routerLink="{{ item.path }}">
          <ion-icon [name]="item.icon" slot="start" style="color: #006470"></ion-icon>
          <ion-label>{{ item.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Header wird nur angezeigt, wenn showHeader true ist -->
<ion-header *ngIf="showHeader">
  <ion-toolbar class="gradient-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MQ Sharing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-router-outlet id="main-content"></ion-router-outlet>
