<ion-header>
  <ion-toolbar>
    <ion-title>Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let ticket of tickets">
      <ion-label>
        <h2>Fahrzeug: {{ ticket.carName }}</h2>
        <p>Ablaufdatum: {{ ticket.validUntil }}</p>
        <p>Geschwindigkeitslimit: {{ ticket.speedLimit }}</p>
        <p>Zugriff: Türen {{ ticket.doorAccess ? 'Ja' : 'Nein' }},
           Fenster {{ ticket.windowAccess ? 'Ja' : 'Nein' }},
           Kofferraum {{ ticket.trunkAccess ? 'Ja' : 'Nein' }},
           Motor {{ ticket.engineStart ? 'Ja' : 'Nein' }}</p>
      </ion-label>
    </ion-card>
  </ion-list>

  <!-- Floating Action Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button translucent="true" (click)="openTicketModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
