<ion-header>
  <ion-toolbar>
    <ion-title>Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let ticket of tickets">
      <ion-card-header>
        <ion-card-title>{{ ticket.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Gültig bis: {{ ticket.validUntil }}</p>
        <p>Geteilt mit: {{ ticket.sharedWith }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- Floating Action Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button translucent="true" (click)="openTicketModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
