<ion-header>
  <ion-toolbar>
    <ion-title>Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let ticket of tickets" class="ticket-card">
      <img [src]="getCarImage(ticket.carName)" alt="{{ ticket.carName }}" class="car-image" />
      <ion-label>
        <h2>Fahrzeug: {{ ticket.carName }}</h2>
        <p>Ablaufdatum: {{ ticket.validUntil }}</p>
        <p>Geschwindigkeitslimit: {{ ticket.speedLimit }}</p>
        <p>Zugriff: Türen {{ ticket.doorAccess ? 'Ja' : 'Nein' }},
           Fenster {{ ticket.windowAccess ? 'Ja' : 'Nein' }},
           Kofferraum {{ ticket.trunkAccess ? 'Ja' : 'Nein' }},
           Motor {{ ticket.engineStart ? 'Ja' : 'Nein' }}</p>
      </ion-label>

      <!-- Buttons am unteren Rand -->
      <div class="button-group">
        <ion-button fill="clear" (click)="useTicket(ticket)">Use</ion-button>
        <ion-button fill="clear" (click)="manageTicket(ticket)">Manage</ion-button>
        <ion-button fill="clear" color="danger" (click)="confirmDelete(ticket)">Delete</ion-button>
      </div>
    </ion-card>
  </ion-list>
</ion-content>