ion-fab-button {
    --background: #262626;
    --border-width: 2px;
    --border-color: #006470;
    --color: #006470;
  }
  

  .ticket-card {
    margin: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .car-image {
    width: 90%;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid #ccc;
  }
  
  ion-button {
    font-size: 14px;
    color: #006470;
    --border-width: 1px;
    --border-style: solid;
  }
  
  ion-button[color="danger"] {
    color: var(--ion-color-danger);
  }
  