/* Anzeige, wenn ein aktives Ticket vorhanden ist */
.active-ticket ion-card {
    height: 100%; /* Passt die Größe an das Display an */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
  }
  
  /* Anzeige, wenn kein Ticket ausgewählt ist */
  .no-active-ticket {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Positioniert den Inhalt oben */
    align-items: center;
    height: 100%;
    padding-top: 50px; /* Platz zwischen Header und Inhalt */
    text-align: center;
  }
  