<ion-header>
  <ion-toolbar>
    <ion-title>Neues Ticket erstellen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Schließen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Fahrzeugauswahl -->
    <ion-item>
      <ion-label>Fahrzeug</ion-label>
      <ion-select [(ngModel)]="selectedCar" placeholder="Fahrzeug auswählen">
        <ion-select-option *ngFor="let car of availableCars" [value]="car">{{ car }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Datumsauswahl mit Popover -->
    <ion-item>
      <ion-label>Ablaufdatum</ion-label>
      <ion-input
        readonly
        placeholder="Datum wählen"
        [(ngModel)]="validUntil"
        (click)="openDateTimePopover($event)"
        class="ion-select"
        style="text-align: center; margin-left: 10px;"
      ></ion-input>
    </ion-item>

    <!-- Zugriffsoptionen -->
    <ion-item>
      <ion-label>Doors</ion-label>
      <ion-toggle [(ngModel)]="doorAccess"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Windows</ion-label>
      <ion-toggle [(ngModel)]="windowAccess"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Trunk</ion-label>
      <ion-toggle [(ngModel)]="trunkAccess"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Engine Start</ion-label>
      <ion-toggle [(ngModel)]="engineStart"></ion-toggle>
    </ion-item>

    <!-- Geschwindigkeitsbegrenzung -->
    <ion-item>
      <ion-label>Speedlimit</ion-label>
      <ion-select [(ngModel)]="speedLimit" placeholder="Limit wählen">
        <ion-select-option value="80">80 km/h</ion-select-option>
        <ion-select-option value="100">100 km/h</ion-select-option>
        <ion-select-option value="130">130 km/h</ion-select-option>
        <ion-select-option value="full">Keine Begrenzung</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Teilen mit</ion-label>
      <ion-select [(ngModel)]="sharedWithUser" placeholder="Nutzer auswählen">
        <ion-select-option *ngFor="let user of activeUsers" [value]="user">{{ user }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Erstellen-Button -->
    <ion-button expand="block" (click)="createTicket()">Ticket erstellen</ion-button>
  </ion-list>
</ion-content>
